body{
    background-color:#101218;
}
.row{
    background-color: #494a4a;
    padding: 50px;
    margin-bottom: 30px;
    color:white;
}
.titulo{
    color:rosybrown;
    text-align: center;
}

.titulosec{
    color:rosybrown;
    text-align: center;
    
}
.columna{
    padding: 10px;
    margin-left: 20px;
}
.parrafo{
    font-family: 'Times New Roman', Times, serif;
    padding: 3px;
    margin-bottom: 1px;
    color:#c3c3bd;
}

.menu :hover{
    background-color:grey;
    display:inline-flex;
    text-decoration: none;
    text-align:right;
   
    
}
.h4{
    color:#222a2e;
 margin-bottom: 20px;
}

.h6{
    margin-bottom:1px;
    text-align: center;
}
 .imagen:hover{
     background-color: lightblue;
 }

    

